/* 큰 영문 font-family: 'Ubuntu', sans-serif; */
/* 큰 영문 font-family: 'Poppins', sans-serif; */
/* 영문 font font-family: 'Open Sans', sans-serif;  */
/* 이모지 font font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
/* font-family: 'Montserrat Subrayada', sans-serif; */
html {
    cursor: url("../image/navigation.png"), auto;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

header#main-header {
    width: 100%;
    padding: 50px 0 0 0;
    height: 80px;
    /* background-color: #000; */
    /* display: flex; */
}
header#main-header #homepage-logo {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    
    transform: translate(-90px, 0);
}
header#main-header #homepage-logo h1 {
    margin: 5px 12px;
    padding: 0;
    font-size: 26px;
}
header#main-header #homepage-logo .circle{
    width: 120px;
    height: 120px;
    background-color: #000;
    border-radius: 50%;
}
header#main-header #homepage-logo .circle1{
    background-color: #c1f20f;
    transform: translate(65px, -40px);
}
header#main-header #homepage-logo .circle2{
    background-color: #ff00a1;
    transform: translate(-15px, -40px);
}
header#main-header #homepage-logo * {
    margin: 0;
    position: absolute;
}
header#main-header #homepage-logo:hover .circle {
    /* transform: translate(25px, -40px); */
    animation: logo-animation 1.5s ease-in-out 1;
}
header#main-header #homepage-logo:hover h1 {
    animation: logo-animation-h1 1.5s ease-in-out 1;
}
@keyframes logo-animation-h1 {
    0% {
        
    }
    50% {
        color: #fff;
    }
    100% {
        
    }
}
@keyframes logo-animation {
    0% {
        
    }
    50% {
        width: 150px;
        height: 150px;
        transform: translate(5px, -55px);
        opacity: .5;
        background-color: #0b30fb;
    }
    100% {
        width: 120px;
        height: 120px;
    }
}

/* login */
header#main-header p {
    width: 50px;
    margin: 0 40px 0 auto;
    display: flex;

    font-weight: 800;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
header#main-header p a {
    width: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
header#main-header .under-line {
    width: 50px;
    height: 3px;
    background-color: #000;
    margin: 5px 40px 0 auto;
    margin-left: auto;
}

header#main-header p:hover div.under-line{
    animation: under-line 2s ease-in-out 1;
}



/* 메뉴 */
header #nav-icon {
    list-style: none;
    padding: 0;
    margin: 0;
    
    width: 80px;
    height: 80px;
    list-style: none;
    
    position: fixed;
    top: 30px;
    left: 20px;
    /* background-color: red; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
    cursor: pointer;
}

header #nav-icon > li {
    margin: 5px;
    width: 50%;
    height: 5px;
    background-color: #000;
}
header #nav-icon:hover {
    background-color: #000;
    transition-duration: .3s;
}
header #nav-icon:hover li {
    background-color: #fff;
    transition-duration: .3s;
}


nav {
    width: 400px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0px; /* 숨겨놓는 용도... */
    transition-duration: .5s;
}
nav:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}
.nav-hide-position {
    transform: translate(-500px, 0);
    transition-duration: .5s;
}
@keyframes nav-hide-animation {
    0% {
        transform: translate(0);
    }
    100% {
    }
}

nav * {
    padding: 0;
    margin: 0;
}




/* nav 노출됐을 때 */
nav ul#nav-hide {
    list-style: none;
    width: 100%;
    height: 100vh;
    background-color: #0b30fb;
    position: absolute;
    top: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav ul#nav-hide #loginUser-info {
    width: 200px;
    height: 220px;
    margin-bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    align-content: center;
    border-radius: 20px;
}
nav ul#nav-hide #loginUser-info div {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    background-size: cover;
}
nav ul#nav-hide #loginUser-info p {
    font-size: 20px;
    font-style: normal;
    margin-top: 10px;
    color: #0b30fb;
}

nav ul#nav-hide > #close-icon {
    width: 80px;
    height: 80px;
    list-style: none;
    
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #fff;
    cursor: pointer;

}
nav ul#nav-hide > #close-icon > li {
    width: 50%;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 40px;
    left: 20px;
}
nav ul#nav-hide > #close-icon > li:first-child {
    transform: rotate(45deg);
}
nav ul#nav-hide > #close-icon > li:last-child {
    transform: rotate(-45deg);
}
nav ul#nav-hide > #close-icon:hover {
    background-color: #000;
    transition-duration: .3s;
}
nav ul#nav-hide > #close-icon:hover li {
    background-color: #fff;
    transition-duration: .3s;
}


nav ul#nav-hide > li{
    width: fit-content;
    margin: 40px auto;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-style: italic;
}
nav ul#nav-hide a{
    text-decoration: none;
    color: #fff;
}
nav ul#nav-hide > li .under-line {
    position: absolute;
    margin-top: 10px;
}
nav ul#nav-hide > li:hover a{
    color: #000;
}
nav ul#nav-hide > li:hover .under-line {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition-duration: .5s;
    animation: under-line 1s ease-in-out 1;
    animation-delay: .2s;
}
@keyframes under-line {
    0% {
        width: 100%;
        opacity: 1;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}



/* 내용부분 main title */
#main-section-intro {
}
#main-section-intro div {
}
#main-section-intro div * {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 96px;
}

/* welcome to 부분 */
#main-section-intro div:first-child {
    width: 800px;
    height: 80px;
    position: relative;

    transform: translate(200px, 50px);
}
#main-section-intro div:first-child * {
    position: absolute;
    top: 0;
}
#main-section-intro div:first-child h1 {
    margin: 0;
    color: #000;
}
#main-section-intro div h1.intro-bgc {
    color: #fff;
    transform: translate(5px, 2px);
}
#main-section-intro div div.intro1 {
    width: 700px;
    height: 80px;
    background-color: #c1f20f;
    transform: skew(-10deg) translate(20px, 40px);
}
#main-section-intro div:first-child h1:hover {
    transform: translate(-5px, -2px);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    color: #0b30fb;
}

/* welcome to 부분 */
#main-section-intro div:nth-child(2) {
    width: 800px;
    height: 80px;
    position: relative;

    transform: translate(900px, 545px);
}
#main-section-intro div:nth-child(2) * {
    position: absolute;
    top: 0;
}
#main-section-intro div:nth-child(2) h1 {
    margin: 0;
    color: #000;
}
#main-section-intro div:nth-child(2) h1.intro-bgc {
    color: #fff;
    transform: translate(5px, 2px);
}
#main-section-intro div:nth-child(2) div.intro2 {
    width: 800px;
    height: 80px;
    background-color: #ff00a1;
    transform: skew(-10deg) translate(0px, 40px);
}
#main-section-intro div:nth-child(2) h1:hover {
    transform: translate(-5px, -2px);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    color: #0b30fb;
}


/* img 부분 */
#main-section-intro > div.img-wrap {
    position: absolute;
}
#main-section-intro > div.computer {
    top: 500px;
    left: 150px;
}
#main-section-intro > div.mouse {
    top: 200px;
    right: 300px;
}
#main-section-intro > div.computer img {
    width: 500px;
    animation: com-animation .6s ease infinite;
}
#main-section-intro > div.computer img {
    filter: drop-shadow(-20px 20px 0 #0b30fb);
}
#main-section-intro > div.mouse img {
    width: 200px;
    transform: rotate(-15deg);
    animation: cursor-animation .8s ease-in-out infinite;
}
#main-section-intro > div.mouse img {
    filter: drop-shadow(10px 10px 0 #0b30fb);
}
@keyframes com-animation {
    0% {
    }
    50% {
        width: 503px;
        transform: rotate(2deg);
    }
    100% {
    }
}
@keyframes cursor-animation {
    0% {
    }
    50% {
        width: 204px;
        transform: rotate(-17deg);
    }
    100% {
    }
}



/* 내용부분 */
#main-section {
    width: 100%;
    height: 600px;
    margin: -50px auto 0;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    /* border-top: 4px solid #000;
    border-bottom: 4px solid #000; */

    display: flex;
    align-items: center;
    justify-content: center;
}

/* main-section 아래있는 글 */
#main-section section{
    width: fit-content;
    height: 500px;
    /* background-color: #0b30fb; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;

    /* opacity: 0; */
}
#main-section:hover section {
    transition-duration: 1s;
    opacity: 1;
}
#main-section section p {
    font-size: 56px;
    line-height: 90px;
}