/* 큰 영문 font-family: 'Ubuntu', sans-serif; */
/* 큰 영문 font-family: 'Poppins', sans-serif; */
/* 영문 font font-family: 'Open Sans', sans-serif;  */
/* 한글 font font-family: 'Noto Sans KR', sans-serif; */
div.i-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid #0b30fb; */
    background-color: rgba(0, 0, 0, 0.1);

    transform: translate(-10px, -6px);
}
i {
    width: 50px;
    font-size: 20px;
    color: #000;
    text-align: center;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

div#join-wrap {
    width: 500px;
    /* background-color: #000; */
}
fieldset#join {
    border: 0;
    text-align: center;
}
#join legend {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
}
#join div {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
#join input {
    padding: 20px 50px;
    margin: 0 0 10px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 30px;
}
#join input::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}


#join button {
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 60px;
    border: 0;
    background-color: #000;
    color: #fff;
}
#join button:hover {
    background-color: #0b30fb;
    transition-duration: .3s;
}