/* index-recoloring */
body {
    background-color: #000;
    overflow-x: hidden;
}
header#main-header p a {
    color: #fff;
}
header#main-header .under-line {
    background-color: #fff;
}
header #nav-icon>li {
    background-color: #fff;
}
header #nav-icon:hover {
    background-color: #fff;
}
header #nav-icon:hover li {
    background-color: #000;
}


/* roadmap */
#road-map-wrap {
    margin: 50px 0 200px;
    display: flex;
    justify-content: center;
    /* align-items: center;   */
    font-family: 'Noto Sans KR', sans-serif;
}
.article-wrap {
    margin-top: 250px;
    width: 500px;
    /* height: fit-content; */
    perspective: 2500px;
    opacity: 0;
    animation: article-wrap-animation 1s ease-in both;
    animation-delay: 1.8s;
}
@keyframes article-wrap-animation {
    0% {
        transform: translate(0, 10em);
    }
    25% {

    }
    50% {
        opacity: 1;
    }
    60% {
        transform: translate(0, -1em) scale(100.2%);
    }
    75% {
    }
    100% {
        transform: translate(0, 0em) scale(100%);
        opacity: 1;
    }
}


.article-wrap article {
    width: 250px;
    height: fit-content;
    background-color: #fff;
    /* border: 5px solid #c1f20f; */
    border-radius: 100px;
    text-align: center;
    margin: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.article-wrap section {
    border-radius: 20px;
    border: 5px solid #c1f20f;
    background-color: rgba(255, 255, 255, .7);
    /* background-image: radial-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 80%); */
    padding: 10px;
    width: 350px;
    /* height: 300px; */
    margin-bottom: 50px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.article-wrap-left section {
    transform: rotateY(20deg) scale(94%);
}
.article-wrap-right section{
    transform: rotateY(-20deg) scale(94%);
}

.article-wrap section:hover {
    box-shadow: 0 0 40px rgba(255, 255, 255, .8);
    transition-duration: .2s;
    transition-timing-function: ease-out;
    transform: rotateY(0deg) scale(100%);
}




.article-wrap section:nth-child(2n) {
    border: 5px solid #ff00a1;
}
.article-wrap section h1 {
    background-color: #ff00a1;
    padding: 5px 10px;
    position: absolute;
}
.article-wrap section:nth-child(2n+1) h1 {
    transform: translate(-35px, -50px);
    background-color: #c1f20f;
}
.article-wrap section:nth-child(2n) h1 {
    transform: translate(270px, -50px);
}

.wrap-left:nth-child(2n) {
    margin-left: auto;
}
.wrap-right:nth-child(2n+1) {
    margin-left: auto;
}



.wrap-left article:nth-child(2n) {
    /* background-color: #ff00a1; */
    /* border: 5px solid #ff00a1; */
    margin-left: auto;
    margin-bottom: 0;
}
.wrap-right article:nth-child(2n) {
    margin-left: auto;
}


.article-wrap article h6 {
    /* width: 100%; */
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
.article-wrap article p {
    width: 100%;
    margin: 0;
}









#road-box {
    width: 300px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    text-align: center;
    height: 200px;
    background-color: #0b30fb;

    opacity: 0;
    animation: road-box-animation 1s ease-in forwards;
    animation-delay: .5s;
}
@keyframes road-box-animation {
    0% {

    }
    100% {
        opacity: 1;
    }
}
#road-box #road-box-head {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#road-box #road-box-head button {
    width: 50px;
    height: 15px;
    background-color: #0b30fb;
    border: 0;
    border-radius: 10px;
    
}
#road-box h1 {
    color: #fff;
    width: 100%;
    /* margin: 43px 0; */

    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 42px;

}
#road-box-line {
    width: 5px;
    height: 0%;
    background-color: #fff;
    margin: 0 auto;
    animation: line-animation 3s ease-in forwards;
    animation-delay: 1.5s;
}
@keyframes line-animation {
    0% {
        height: 0%;
    }
    25% {

    }
    50% {
        opacity: 1;
    }
    75% {
        height: 530%;
        opacity: 1;
    }
    100% {
        height: 530%;
        opacity: 1;
    }
}
#line-direction {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-25px, 30px);
    
    opacity: 0;
    animation: arrow-box-animation 2s ease-in-out both;
    animation-delay: 2s;
}
#line-direction:hover {
    background-color: #0b30fb;
    transition-duration: .2s;
}
@keyframes arrow-box-animation {
    0% {

    }
    50% {
        opacity: 1;
        transform: translate(-25px, 40px);
    }
    100% {
        opacity: 1;
    }
}
#line-direction i {
    color: #fff;
    font-size: 36px;
    line-height: 50px;
    animation: arrow-animation 2s ease-in-out infinite;
}
@keyframes arrow-animation {
    0% {
        transform: translateY(-2px);
    }
    25% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 0;
        transform: translateY(10px);
    }
    75% {
    }
    100% {
        transform: translateY(-2px);
    }
}


#footer-wrap {
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0, 0, 0, .8);
}